# Since this code is written in the IntelliJ IDEA code editor, the following folders are excluded

/out
/.idea

AVLTree.java
BFS.java
BST.java
KadanesAlgo.java
Kruskal.java
LongestIncreasingSubsequence.java
MatrixChainMultiplication.java
Trie.java